@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	margin-top: 3px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body
{
	background-color: aliceblue;
	padding-top: 100px;
}
a {
	text-decoration: none;
  }
  p,h1,h2,h3,h4,h5,div
  {
	cursor: pointer;
  }
button {
	color: black;
	background-color: #00EEB3;
	height: 40px;
	border-radius: 9px;
	border-style: none;
	padding: 5%;
}

button:hover {
	background-color: blue;
	color: white;
}
img:hover
{
	opacity: 0.8;
}
img:active
{
	opacity: 0.5;
}

.header
{
	background-color: rgb(1, 1, 39);
}
.introduction
{
	margin: 2%;
	background-color: transparent;
	background-image: linear-gradient(to bottom, transparent, aliceblue), url('com.jpg');

	border-radius: 10px;
}
.introduction h1
{
	font-size: 38px;
	text-align: center;
	line-height: 1.5;
	padding: 5%;
}
.introduction p
{
	color: rgb(17, 17, 17);
	text-align: justify;
	font-size: 26px;
	line-height: 1.5;
	max-width:80% ;
	margin-left: 10%;
}
.first {
	font-size: 46px;
	text-align: right;
	margin-right: 180px;
	margin-top: 10%;
}

.para1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 5%;
	margin-top: 5%;
}

.para1 h2 {
	font-weight: 650;
	font-size: 45px;
}

.para1 p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 1.7;
	color: rgb(17, 17, 17);
	text-align: justify;
}

.para1 div {
	max-width: 600px;
}

.para1 div:nth-child(2) {
	margin-left: 20px;
}

.para1 img {
	width: 90%;
}

.para1 div button {
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 39px;
}

.second {
	margin-top: 80px;
	text-align: left;
	margin-left: 75px;
	font-size: 46px;
}

.para2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.para2 div {
	text-align: left;
	max-width: 600px;
	margin-left: 70px;
	margin-top: 20px;
}
.para2 div img
{
	width: 90%;
}

.para2 div:nth-child(2) {
	margin-left: 0px;
}

.para2 h2 {
	font-weight: 650;
	font-size: 45px;
}

.para2 p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgb(17, 17, 17);
	text-align: justify;
}

.para2 div button {
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 39px;
}
.recovery
{
	display: grid;
	grid-template-rows:1fr 200px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
.recovery h1
{
	text-align: center;
	font-size: 38px;
	color: aqua;
}
.recovery h2
{
	text-align: center;
	font-size: 28px;
}
.recovery p
{
	margin: 5px;
	color: rgb(17, 17, 17);
	font-size: 20px;
	line-height: 1.5;
	width: 85%;
	margin-left: 6%;
	text-align: justify;
}
.recovery img
{
	width: 600px;
	height: 550px;
	margin-left: 20%;
}
.newlife
{
	display: grid;
	grid-template-rows: 200px 1fr;
}
.newlife div:nth-child(1)
{
	margin: 8%;
}
.newlife div:nth-child(1) h1
{
	text-align: left;
	font-size: 44px;
	font-weight: normal;
}
.newlife div:nth-child(1) p
{
	color: rgb(17, 17, 17);
	text-align: justify;
	font-size: 18px;
}
.newlife-grid
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 5%;
}
.newlife-grid div
{
	margin: 5%;
}
.conclusion
{
	background-color: rgb(37, 37, 37);
	padding: 5%;
	border-radius: 20px;
	width: 80%;
	margin: 10%;
	box-shadow: 31px 26px 43px rgb(184, 178, 178);
}
.conclusion p
{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 540;
	text-align: justify;
}
.conclusion:hover
{
	opacity: 0.9;
}


form
{
	width: 40%;
	height: 500px;
	padding: 5%;
	border-radius: 20px;
	margin-left: 30%;
	box-shadow: -21px 16px 48px #0062ff;
}
form h1
{
	text-align: center;
	font-size: 28px;
	margin-bottom: 15px;
}
form label
{
	font-size: 20px;
	font: 550;
}
form input
{
	border-radius: 7px;
	height: 35px;
	width: 95%;
	font-size: 15px;
	border: 1px solid rgb(78, 78, 78);
	margin-bottom: 5px;

}
form textarea
{
	padding: 10px;
	font-size: 15px;
	width: 95%;
}
form button
{
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	width: 95px;
}
form button:active
{
	opacity: 0.8;
}

@media only screen and (min-width:400px) 
{
.introduction h1
{
	font-size: 28px;
	padding: 1%;
}
.introduction p
{
	font-size: 16px;
	line-height: 1.3;
}
.first {
	font-size: 26px;
	text-align: right;
	margin: 5%;
}

.para1 {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 0%;
}
.para1 div:nth-child(1)
{
	background-color: transparent;
	background-image: url('test1.jpg');
	object-fit: contain;
	padding: 5%;
	width: 95%;
}
.para1 div:nth-child(2)
{
	display: none;
}

.para1 h2 {
	font-size: 28px;
}

.para1 p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.3;
}

.para1 div button {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.second {
	margin-top:10%;
	margin-left: 0%;
	text-align: center;
	width: 80%;
	font-size: 28px;
}

.para2 {
	display: flex;
	flex-direction: column;
}

.para2 div {
	margin-left:5%;
	margin-top: 5%;
}
.para2 div img
{
	width: 95%;
}

.para2 div:nth-child(2) {
	margin: 5%;
}

.para2 h2 {
	font-size: 28px;
}

.para2 p {
	margin-top: 0%;
	margin-bottom:5%;
	font-size: 16px;
}

.para2 div button {
	padding-top: 10px;
	padding-bottom: 20px;
}
.recovery
{
	display: grid;
	grid-template-rows:1fr 1fr;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 5%;
	width: 90%;
}
.recovery h1
{
	text-align:center;
	font-size: 28px;
}
.recovery h2
{
	text-align:center;
	font-size: 20px;
}
.recovery p
{
	margin-top: 0%;
	font-size: 16px;
	line-height: 1.5;
	width: 95%;
	margin-left: 5%;
}
.recovery img
{
	width: 90%;
	height: 50%;
	margin: 10%;
	margin-bottom: 0%;
	border-radius: 5px;
}
.newlife
{
	grid-template-rows: 1fr 1fr;
}
.newlife div:nth-child(1) h1
{
	font-size: 28px;
}
.newlife div:nth-child(1) p
{
	font-size: 16px;
}
.newlife-grid
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0%;
	margin: 0%;
}
.newlife-grid div
{
	margin: 5%;
	max-width: 35%;
	height: 200px; ;
}
.conclusion
{
	background-color: rgb(37, 37, 37);
	padding: 5%;
	border-radius: 20px;
	width: 80%;
	margin: 10%;
	box-shadow: 31px 26px 43px rgb(184, 178, 178);
}
.conclusion p
{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 540;
	text-align: justify;
	color: yellowgreen;
}


form
{
	width: 90%;
	height: 500px;
	padding: 3%;
	border-radius: 20px;
	margin-left: 5%;
	box-shadow: -11px 6px 38px #0062ff;
}
form h1
{
	text-align: center;
	font-size: 28px;
	margin-bottom: 15px;
}
form label
{
	font-size: 20px;
	font: 550;
}
form input
{
	border-radius: 7px;
	height: 35px;
	width: 95%;
	font-size: 15px;
	border: 1px solid rgb(78, 78, 78);
	margin-bottom: 5px;

}
form textarea
{
	padding: 10px;
	font-size: 15px;
	width: 95%;
}
form button
{
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	width: 95px;
}
form button:active
{
	opacity: 0.8;
}	
}
@media only screen and (min-width:1200px) 
{
	.header
{
	background-color: rgb(1, 1, 39);
}
.introduction
{
	margin: 2%;
	background-color: transparent;
	background-image: linear-gradient(to bottom, transparent, aliceblue), url('com.jpg');

	border-radius: 10px;
}
.introduction h1
{
	font-size: 38px;
	text-align: center;
	line-height: 1.5;
	padding: 5%;
}
.introduction p
{
	color: rgb(17, 17, 17);
	text-align: justify;
	font-size: 26px;
	line-height: 1.5;
	max-width:80% ;
	margin-left: 10%;
}
.first {
	font-size: 46px;
	text-align: right;
	margin-right: 180px;
	margin-top: 10%;
}

.para1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 5%;
	margin-top: 5%;
}

.para1 h2 {
	font-weight: 650;
	font-size: 45px;
}

.para1 p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 1.7;
	background-color: transparent;
	color: rgb(17, 17, 17);
	text-align: justify;
}

.para1 div:nth-child(1) {
	max-width: 600px;
	background-image: linear-gradient(to top,aliceblue 0%, aliceblue 100%);
}

.para1 div:nth-child(2) {
	margin-left: 20px;
	display: block;
}

.para1 img {
	width: 90%;
}

.para1 div button {
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 39px;
}

.second {
	margin-top: 80px;
	text-align: left;
	margin-left: 75px;
	font-size: 46px;
}

.para2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.para2 div {
	text-align: left;
	max-width: 600px;
	margin-left: 70px;
	margin-top: 20px;
}
.para2 div img
{
	width: 90%;
}

.para2 div:nth-child(2) {
	margin-left: 0px;
}

.para2 h2 {
	font-weight: 650;
	font-size: 45px;
}

.para2 p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	color: rgb(17, 17, 17);
	text-align: justify;
}

.para2 div button {
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 39px;
}
.recovery
{
	display: grid;
	grid-template-rows:1fr 200px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
.recovery h1
{
	text-align: center;
	font-size: 38px;
	color: aqua;
}
.recovery h2
{
	text-align: center;
	font-size: 28px;
}
.recovery p
{
	margin: 5px;
	color: rgb(17, 17, 17);
	font-size: 20px;
	line-height: 1.5;
	width: 85%;
	margin-left: 6%;
	text-align: justify;
}
.recovery img
{
	width: 600px;
	height: 550px;
	margin-left: 20%;
}
.newlife
{
	display: grid;
	grid-template-rows: 200px 1fr;
}
.newlife div:nth-child(1)
{
	margin: 8%;
}
.newlife div:nth-child(1) h1
{
	text-align: left;
	font-size: 44px;
	font-weight: normal;
}
.newlife div:nth-child(1) p
{
	color: rgb(17, 17, 17);
	text-align: justify;
	font-size: 18px;
}
.newlife-grid
{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5%;
	max-width: 1200px;
}
.newlife-grid div
{
	margin: 5%;
	width: 500px;
	height: 30%;
}
.conclusion
{
	background-color: rgb(37, 37, 37);
	padding: 5%;
	border-radius: 20px;
	width: 80%;
	margin: 10%;
	box-shadow: 31px 26px 43px rgb(184, 178, 178);
}
.conclusion p
{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 540;
	text-align: justify;
}
.conclusion:hover
{
	opacity: 0.9;
}


form
{
	width: 40%;
	height: 500px;
	padding: 5%;
	border-radius: 20px;
	margin-left: 30%;
	box-shadow: -21px 16px 48px #0062ff;
}
form h1
{
	text-align: center;
	font-size: 28px;
	margin-bottom: 15px;
}
form label
{
	font-size: 20px;
	font: 550;
}
form input
{
	border-radius: 7px;
	height: 35px;
	width: 95%;
	font-size: 15px;
	border: 1px solid rgb(78, 78, 78);
	margin-bottom: 5px;

}
form textarea
{
	padding: 10px;
	font-size: 15px;
	width: 95%;
}
form button
{
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	width: 95px;
}
form button:active
{
	opacity: 0.8;
}
	
}